.about {
	font-family: var(--font-accent);

	& .subtitle span {
		margin-bottom: 0;
	}

	& .title {
		display: none;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		background-color: #f6f6f6;
		border: 1px solid rgba(15, 15, 15, 0.3);
		border-radius: 5px;

		@include mobile {
			flex-direction: column;
			padding: 0px;
			gap: 15px;
		}

		&__img {
			width: 50%;
			max-width: 760px;
			border-radius: 5px;
			padding: 30px;

			@include mobile {
				width: 100%;
				padding: 15px;
				padding-bottom: 0;
			}
		}

		&__text {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 50%;
			padding: 30px;
			border-left: 1px solid rgba(15, 15, 15, 0.3);

			@include mobile {
				border-left: none;
				border-top: 1px solid rgba(15, 15, 15, 0.3);
				padding-top: 15px;
				width: 100%;
				padding: 15px;
			}

			&-title {
				font-family: var(--font-second);
				max-width: 559px;
				font-weight: 400;
				font-size: 30px;
				line-height: 80%;
				color: var(--text-color-dark);
				margin-bottom: 10px;

				@include mobile {
					font-size: 18px;
				}
			}

			&-description {
				font-weight: 400;
				font-size: 16px;
				line-height: 110%;
				letter-spacing: -0.04em;
				color: rgba(15, 15, 15, 0.8);
				max-width: 487px;

				@include mobile {
					font-size: 14px;
				}
			}
		}
	}
}