.footer {
	margin-top: auto;
	background-color: var(--page-bg);
	color: var(--text-color-light);
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: -0.04em;

	& .container {
		padding: 60px 0;
		padding-bottom: 20px;
		background-color: var(--accent);
		border-radius: 50px;
		width: calc(100% - 80px);
		max-width: 1520px;

		@include mobile {
			width: calc(100% - 20px);
			padding: 45px 10px;
			padding-bottom: 10px;
			border-radius: 20px;
		}
	}

	&__logo-img {
		margin: 0 auto;
		margin-bottom: 40px;

		@include tablet_small {
			margin-bottom: 20px;
		}
	}

	&__logo-dog {
		grid-column: 2 / 4;
		grid-row: 1 / 2;
		margin: 0 auto;
		margin-bottom: -10px;

		@include tablet_small {
			grid-column: 1 / -1;
			margin-top: 20px;
			margin-bottom: 30px;
		}

		@include mobile {
			grid-row: 3;
		}
	}

	&__links {
		display: grid;
		column-gap: 0;
		grid-template-columns: repeat(4, 1fr);

		@include tablet_small {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__link {
		display: inline-block;
		white-space: nowrap;
		position: relative;
		display: inline-block;
		color: var(--text-color-light);
		max-width: 208px;
		cursor: pointer;

		@include mobile {
			font-size: 14px;
			margin-bottom: 0px;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: -4px;
			left: 50%;
			transform: translateX(-50%) scale(0);
			width: 100%;
			height: 1px;
			background-color: var(--text-color-light);
			opacity: 0;
			transition: all 0.2s ease-in;
		}

		&:hover {
			&::after {
				transform: translateX(-50%) scale(1);
				opacity: 1;
			}
		}
	}

	& .border_wrapper {
		position: relative;

		&__main {
			grid-column: 1 / 3;
			grid-row: 1;
			display: flex;
			gap: 30px;
			padding-left: 25px;

			@include tablet_small {
				grid-row: 1;
				display: flex;
				flex-direction: column;
				gap: 5px;
				padding-left: 10px;
			}

			@include mobile {
				padding: 0;
			}
		}

		&__social {
			grid-column: 4;
			grid-row: 1;
			padding-right: 25px;
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 15px;

			@include tablet_small {
				grid-column: 2;
				grid-row: 1;
				padding-right: 0px;
				gap: 10px;
			}

			&-item {
				display: flex;
				justify-content: space-between;
				gap: 10px;

				@include tablet_small {
					flex-direction: column;
					justify-content: flex-end;
					align-items: flex-end;
					text-align: right;
					gap: 5px;
					font-size: 14px;
				}
			}

			&-title {
				font-weight: 500;
				font-size: 16px;
				line-height: 100%;
				letter-spacing: -0.04em;
				color: rgba(255, 255, 255, 0.5);

				@include tablet_small {
					font-size: 14px;
				}
			}

			.inst_wrapper {
				display: flex;
				text-align: right;
				gap: 15px;

				@include tablet_small {
					display: flex;
					flex-direction: column;
					gap: 2px;
				}
			}
		}
	}

	.footer__copyright {
		display: flex;
		justify-content: space-between;
		padding: 0 25px;
		width: 100%;
		font-weight: 400;
		font-size: 14px;
		line-height: 100%;
		letter-spacing: -0.04em;
		color: rgba(255, 255, 255, 0.5);

		@include tablet_small {
			font-size: 10px;
		}

		@include mobile {
			padding: 0;
		}

		& a {
			position: relative;
			font-weight: 400;
			font-size: 14px;
			line-height: 100%;
			letter-spacing: -0.04em;
			color: rgba(255, 255, 255, 0.5);

			@include tablet_small {
				font-size: 10px;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: -4px;
				left: 50%;
				transform: translateX(-50%) scale(0);
				width: 100%;
				height: 1px;
				background-color: rgba(255, 255, 255, 0.5);
				opacity: 0;
				transition: all 0.2s ease-in;
			}

			&:hover {
				&::after {
					transform: translateX(-50%) scale(1);
					opacity: 1;
				}
			}
		}

		@include mobile {
			bottom: 10px;
			left: 10px;
		}
	}
}