.hero {
	font-family: var(--font-accent);
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	width: calc(100% - 80px);
	max-width: 1520px;
	background-color: var(--accent);
	padding: 30px 20px;
	border-radius: 50px;
	height: 826px;
	display: flex;
	flex-direction: column;
	align-items: center;

	@include mobile {
		width: calc(100% - 20px);
		height: 508px;
		justify-content: start;
		border-radius: 20px;
	}

	// & .main__button {
	// 	@include mobile {
	// 		max-width: calc(100% - 20px);
	// 	}
	// }

	.container {
		padding: 120px 100px 45px 100px;
		position: static;

		@include mobile {
			padding: 25px 10px 0px 10px;
		}
	}

	&__tips {
		position: relative;
		z-index: 11;
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 767px;
		margin-top: 210px;

		font-weight: 500;
		font-size: 20px;
		line-height: 120%;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		color: var(--text-color-light);

		@include mobile {
			font-size: 16px;
			margin-top: 0;
		}

		&__wrapper {
			display: flex;
			flex-direction: column;
		}

		&__wrapper:last-child {
			text-align: right;
		}
	}

	&__line {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0%);

		& img {
			min-width: 278px;
		}
	}

	&__content {
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translate(-50%, 0%);
		z-index: 10;
		padding: 10px;
		padding-bottom: 30px;

		@include mobile {
			width: 100%;
			padding: 0;
			padding-bottom: 25px;
		}

		&::after {
			content: "";
			z-index: -1;
			position: absolute;
			bottom: -450px;
			left: 50%;
			transform: translate(-50%, 0%);
			border-radius: 1000px;
			width: 100%;
			max-width: 767px;
			height: 1170px;
			background-color: var(--accent-light);

			@include mobile {
				bottom: -760px;
			}
		}
	}

	&__img {
		position: absolute;
		bottom: -140px;
		left: 50%;
		transform: translateX(-50%);
		min-width: 721px;
		z-index: 10;

		@include mobile {
			bottom: 0;
			min-width: auto;
			max-width: 278px;
		}
	}

	&__title {
		font-weight: 900;
		font-size: 180px;
		line-height: 100%;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		text-align: center;
		color: var(--text-color-light);

		margin: 0 auto;
		white-space: nowrap;

		@include tablet {
			font-size: 120px;
			white-space: normal;
		}

		@include mobile {
			font-size: 80px;
		}
	}

	&__text {
		position: relative;
		z-index: 10;
		font-weight: 500;
		font-size: 16px;
		line-height: 110%;
		letter-spacing: -0.04em;
		text-align: center;
		max-width: 325px;
		margin: 0 auto;
		color: var(--text-color-light);
		mix-blend-mode: difference;
		margin-bottom: 30px;

		@include mobile {
			margin-bottom: 15px;
			max-width: 200px;
			font-size: 14px;
		}
	}

	&__paw {
		position: absolute;
		z-index: 9;

		&-1 {
			top: 7%;
			left: 10%;
			width: 173px;
			transform: rotate(15deg);

			@include mobile {
				left: 39%;
				width: 33px;
			}
		}

		&-2 {
			top: 15%;
			right: 8%;
			width: 147px;
			transform: rotate(-15deg);

			@include mobile {
				width: 25px;
				top: 12%;
				right: 39%;
			}
		}

		&-3 {
			bottom: 38%;
			left: 5%;
			width: 63px;
			transform: rotate(10deg);
		}

		&-4 {
			bottom: 15%;
			left: 12%;
			width: 115px;
			transform: rotate(-10deg);
		}

		&-5 {
			bottom: 20%;
			right: 15%;
			width: 78px;
			transform: rotate(-10deg);
		}
	}
}