.hero {
	font-family: var(--font-accent);
	position: relative;
	width: 100vw;
	max-width: 1520px;
	margin: 0 auto;
	overflow: hidden;
	background-color: var(--accent);
	border-radius: 50px;
	height: 826px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.container {
		padding: 120px 100px 45px 100px;
		position: static;

		@include mobile {
			padding: 25px 10px 0px 10px;
		}
	}

	&__lines {
		display: flex;

		@include mobile {
			margin: 40px auto;
			margin-bottom: 20px;
		}
	}

	&__line {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0%);

		& img {
			min-width: 278px;
		}
	}

	&__content {
		position: absolute;
		bottom: 0px;
		padding-bottom: 30px;
		left: 50%;
		transform: translate(-50%, 0%);
	}

	&__img {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		min-width: 721px;

		@include mobile {
			min-width: 278px;
		}
	}

	&__title {
		font-weight: 900;
		font-size: 180px;
		line-height: 100%;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		text-align: center;
		color: var(--text-color-light);

		margin: 0 auto;
		white-space: nowrap;

		@include tablet {
			font-size: 120px;
			white-space: normal;
		}

		@include mobile {
			font-size: 80px;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 110%;
		letter-spacing: -0.04em;
		text-align: center;
		max-width: 325px;
		margin: 0 auto;
		color: var(--text-color-light);
		mix-blend-mode: difference;
		margin-bottom: 30px;

		@include mobile {
			margin-bottom: 20px;
			max-width: 270px;
			font-size: 14px;
		}
	}
}