.hero {
	font-family: var(--font-accent);
	position: relative;
	width: 100vw;
	max-width: 1600px;
	margin: 0 auto;
	overflow: hidden;

	.container {
		padding: 120px 100px 45px 100px;
		background-image: url('../../img/hero/hero_bg.png');
		background-position: center bottom;
		background-size: 100% 100%;
		background-repeat: no-repeat;

		@include mobile {
			padding: 25px 10px 0px 10px;
			background-size: 100% 80%;
			background-position: 100% 0%;
			background-image: url('../../img/hero/hero_bg_small@2x.png');
		}
	}

	&__lines {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		@include mobile {
			margin: 40px auto;
			margin-bottom: 20px;
		}

		&-left {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 30px;
			transform: translateY(-40px);

			&-1 {
				width: 240px;
			}

			@include mobile {
				transform: translateY(10px);
			}
		}

		&-right {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 30px;

			transform: translateY(-90px);

			@include mobile {
				transform: translateY(10px);
			}
		}
	}

	&__line {
		transform: translateY(-40px);

		@include mobile {
			transform: translateY(-30px);
		}

		&-anim {
			margin-top: -20px;
			animation: upDown 3s infinite ease-in-out;
			-webkit-animation: upDown 3s infinite ease-in-out;
			-moz-animation: upDown 3s infinite ease-in-out;

			animation-direction: alternate;
		}
	}

	&__title {
		font-family: var(--font-second);
		font-weight: 400;
		font-size: clamp(80px, 12vw, 200px);
		line-height: 80%;
		letter-spacing: -0.01em;
		text-transform: capitalize;
		text-align: center;
		color: var(--text-color-light);

		-webkit-text-stroke: 2px var(--text-color-dark);
		// paint-order: stroke fill;

		text-shadow: -10px -10px 0 #2400c9;

		margin: 0 auto;
		white-space: nowrap;

		@include tablet {
			font-size: 120px;
			white-space: normal;
		}

		@include mobile {
			font-size: 80px;
			text-shadow: -5px -5px 0 #2400c9;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 120%;
		max-width: 375px;
		margin: 0 auto;
		letter-spacing: -0.04em;
		text-align: center;
		color: var(--text-color);
		margin-bottom: 30px;

		@include mobile {
			margin-bottom: 20px;
			max-width: 270px;
			font-size: 14px;
		}
	}
}