.how {
	width: calc(100% - 80px);
	max-width: 1520px;
	margin: 0 auto;
	background-color: var(--accent);
	padding: 60px 25px;
	border-radius: 50px;
	overflow: hidden;

	@include mobile {
		width: calc(100% - 20px);
		padding: 45px 10px;
		border-radius: 20px;
	}

	&__cards {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8%;
		border-radius: 5px;
		padding: 0 25px;

		@include tablet_small {
			flex-direction: column;
			margin-top: 20px;
			gap: 10px;
		}
	}

	.how__card {
		position: relative;
		z-index: 10;
		margin-top: 70px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 280px;
		min-width: 280px;
		height: 280px;
		min-height: 280px;
		gap: 20px;
		border-radius: 100%;
		background: radial-gradient(102.32% 102.32% at 50.01% 50%, rgb(61, 88, 40) 0%, rgb(45, 65, 30) 100%);

		@include tablet {
			width: 240px;
			min-width: 240px;
			height: 240px;
			min-height: 240px;
		}

		@include tablet_small {
			margin: 0;
		}

		@include mobile {
			width: 280px;
			min-width: 280px;
			height: 280px;
			min-height: 280px;
		}

		&-title {
			font-weight: 500;
			font-size: 18px;
			line-height: 100%;
			letter-spacing: -0.04em;
			text-transform: uppercase;
			color: var(--text-color-light);

			@include tablet {
				font-size: 14px;
			}
		}

		&-description {
			font-weight: 400;
			font-size: 16px;
			line-height: 110%;
			letter-spacing: -0.04em;
			text-align: center;
			color: rgba(255, 255, 255, 0.8);
			max-width: 210px;

			@include tablet {
				font-size: 14px;
				max-width: 203px;
			}
		}
	}

	.how__card:nth-child(2) {
		margin-top: 30px;

		@include tablet_small {
			margin-top: 0px;
		}
	}

	.how__bone {
		position: absolute;
		width: 110px;

		&-1 {
			top: 60%;
			left: -2%;
			transform: rotate(50deg);
		}

		&-2 {
			top: 40%;
			left: 4%;
			transform: rotate(-20deg);
		}

		&-3 {
			top: 70%;
			left: 10%;
			transform: rotate(30deg);
		}

		&-4 {
			z-index: 11;
			top: 30%;
			left: 28%;
			transform: rotate(20deg);

			@include tablet {
				z-index: 0;
			}
		}

		&-5 {
			z-index: 11;
			top: 50%;
			left: 34%;
			transform: rotate(-30deg);

			@include tablet {
				z-index: 0;
			}
		}

		&-6 {
			top: 77%;
			left: 31%;
			transform: rotate(20deg);
		}

		&-7 {
			z-index: 11;
			top: 30%;
			left: 57%;
			transform: rotate(30deg);

			@include tablet {
				z-index: 0;
			}
		}

		&-8 {
			z-index: 11;
			top: 70%;
			left: 61%;
			transform: rotate(-20deg);

			@include tablet {
				z-index: 0;
			}
		}

		&-9 {
			top: 30%;
			left: 82%;
			transform: rotate(30deg);
		}

		&-10 {
			top: 55%;
			left: 84%;
			transform: rotate(-10deg);
		}

		&-11 {
			top: 62%;
			left: 93%;
			transform: rotate(20deg);
		}

		@include mobile {
			&-1 {
				z-index: 11;
				top: 5%;
				left: -14%;
				transform: rotate(-30deg);
			}
		}
	}
}