.partners {
	color: var(--text-color-dark);
	background-color: #f6f6f6;
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;

	@include mobile {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
			gap: 10px;
		}
	}

	.card {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid rgba(15, 15, 15, 0.3);
		background-color: var(--page-bg);
		border-radius: 5px;
		height: 315px;
		width: 100%;
		max-width: 493px;

		@include tablet {
			max-width: 100%;
		}

		@include mobile {
			height: 92px;
		}

		&__wrapper {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
	}

	.first {
		.card {
			.icon {
				width: 133px;
				height: auto;

				@include mobile {
					max-height: 40px;
				}
			}
		}
	}

	.second {
		.card {
			.icon {
				width: 100%;
				max-width: 256px;
				height: auto;

				@include mobile {
					max-height: 22px;
				}
			}
		}
	}

	.third {
		.card {
			.icon {
				width: 100%;
				max-width: 89px;
				height: auto;

				@include mobile {
					max-height: 40px;
				}
			}
		}
	}

	.fourth {
		.card {
			.icon {
				width: 100%;
				max-width: 327px;
				height: auto;

				@include mobile {
					max-height: 22px;
				}
			}
		}
	}

	.fifth {
		.card {
			.icon {
				width: 100%;
				max-width: 116px;
				height: auto;

				@include mobile {
					max-height: 40px;
				}
			}
		}
	}

	.sixth {
		.card {
			.icon {
				width: 100%;
				max-width: 198px;
				height: auto;

				@include mobile {
					max-height: 22px;
				}
			}
		}
	}
}